.vscode
taskfile.yaml
# https://taskfile.dev/

backend/.env
backend/backend
backend/backend.exe
backend/slovnik.csv
backend/slovnik.txt
backend/pohadky.txt

frontend/public/seznam-wmt-BUnHTQ6XWvu0wBfMQUVc2QkzAKbmEEiS.txt
frontend/dist
frontend/node_modules