form {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--tmave-fialova);
    border-radius: 10px;
    align-items: center;
}

form .nadpis {
    align-self: flex-start;
    font-size: 1.1em;
    margin: 0 5px 10px 5px;
    display: inline-block;
}

.infoNadpis {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
}

h2 {
    margin-top: 40px;
}

form input {
    width: 300px;
    height: 30px;
    background-color: var(--fialova);
    border: 0;
    border-radius: 5px;
    transition: all 0.15s cubic-bezier(0.5, 0, 0.5, 1) 0s;
    color: var(--bila);
    padding: 10px;
    font-weight: normal;
    margin: 0 5px 0 5px;
}

form input:focus {
    outline: none !important;
    width: 310px;
    margin-right: 0;
    margin-left: 0;
    transition: all 0.15s cubic-bezier(0.5, 0, 0.5, 1) 0s;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.42);
}

h2 {
    font-size: 2em;
}

a {
    color: white;
}

p {
    margin: 10px;
}

.spatnej_input {
    color: #fd2323;
    border: 1px solid red;
    font-weight: 550;
}

form img {
    height: 19px;
    display: inline-block;
    align-self: flex-end;
    margin-right: 10px;
}

.info {
    display: block;
    width: 220px;
    background-color: var(--tmave-fialova);
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    top: 265px;
    left: calc(50% + 320px);
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

#infoShow {
    opacity: 1;
    transition: ease-in 0.1s;
}

#infoHide {
    opacity: 0;
    transition: ease-in 0.1s;
}

.info ul {
    padding-left: 25px;
    font-size: 14px;
    font-weight: normal;
}

.info li {
    padding-top: 5px;
}

.chybaExistuje {
    margin: 2px 0 4px 5px;
    color: #fd2323;
    font-size: 14px;
    line-height: 14px;
    align-self: flex-start;
}

.opacity0 {
    opacity: 0;
}

form button {
    margin-top: 20px;
}

#view {
    width: 100% !important;
}

@media screen and (max-width:450px) {
    form {
        width: 85vw;
    }

    form input {
        min-width: 177px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #view {
        width: 100% !important;
    }

    form input:focus {
        width: 102%;
        margin: 0;
    }

    form img {
        margin-left: 0;
    }

    form .nadpis {
        width: 100%;
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-self: auto;
        padding-left: 5px;
    }
}

@media screen and (max-width:1000px) {
    .info {
        top: auto;
        bottom: 10%;
        left: calc(50% - 110px); /* - pulka sirky */
        align-self: center;
    }
}