@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
    --cerna: #171528;
    --bila: #f0f0f0;
    --seda: #888888;
    --tmave-fialova: #3F3351;
    --sirka-menu: 230px;
    --sirka-textoveho-pole: 650px;
    --fialova: #864879;
    --zelena2: #34D1BF;
    --zelena: #51914a;
    --svetle-fialova: #b45cad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    margin-bottom: 25px;
}

body::-webkit-scrollbar {
    width: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--bila);
    background-color: var(--cerna);
    background-size: 500%;
    background-position-x: -500px;
    background-repeat: repeat;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    justify-content: space-evenly;
}

.fajvka {
    height: 30px;
    align-self: center;
}

.fajvkaVetsi {
    height: 45px;
}

.playVetsi {
    height: 45px;
}

.tlacitko {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--bila);
    font-size: 1em;
    margin: 10px 0 0 0;
    background-color: var(--fialova);
    transition: 0.2s;
    cursor: pointer;
}

.tlacitko:hover {
    background-color: var(--svetle-fialova);
    transition: 0.2s;
}

.cerveneTlacitko {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--bila);
    font-size: 1em;
    margin: 10px 0 0 0;
    background-color: #a01e1e;
    transition: 0.2s;
    cursor: pointer;
}

.cerveneTlacitko:hover {
    background-color: #fd0000;
    transition: 0.2s;
}

.nadpisSeSipkou {
    display: inline-flex;
    position: relative;
    right: 25px;
    /* posunuti o pulku sipky */
}