@font-face {
    font-family: "Montserrat";
    src: url("/Montserrat.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Mono";
    src: url("/RedHatMono.woff2") format('woff2');
    font-display: swap;
}

:root {
    --cerna: #171528;
    --bila: #f0f0f0;
    --seda: #aaaaaa;
    --tmave-fialova: #3F3351;
    --sirka-menu: 230px;
    --sirka-textoveho-pole: 650px;
    --fialova: #864879;
    --svetle-fialova: #b45cad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Candara;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    margin-bottom: 25px;
}

h2 {
    font-weight: 400;
}

p {
    font-size: 1.2em;
}

body::-webkit-scrollbar {
    width: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--bila);
    background-color: var(--cerna);
    background-size: 500%;
    background-position-x: -500px;
    background-repeat: repeat;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}

#view {
    padding-top: 30px;
    margin-left: calc(var(--sirka-menu) + 10px);
    margin-bottom: 50px;
    text-align: center;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: #afafaf 1px solid;
}

.fajvka {
    height: 30px;
    align-self: center;
}

.fajvkaVetsi {
    height: 45px;
}

.playVetsi {
    height: 45px;
}

.tlacitko {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--bila);
    font-size: 1em;
    margin: 10px 0 0 0;
    background-color: var(--fialova);
    transition: 0.2s;
    cursor: pointer;
}

.tlacitko:hover {
    background-color: var(--svetle-fialova);
    transition: 0.2s;
}

.cerveneTlacitko {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--bila);
    font-size: 1em;
    margin: 10px 0 0 0;
    background-color: #a01e1e;
    transition: 0.2s;
    cursor: pointer;
}

.cerveneTlacitko:hover {
    background-color: #fd0000;
    transition: 0.2s;
}

.nadpisSeSipkou {
    display: inline-flex;
    position: relative;
    right: 25px;
    justify-content: center;
    /* posunuti o pulku sipky */
}

b {
    font-weight: 500;
}

.bloky {
    margin-top: 50px;
    width: 110%;
    height: 20em;
    display: flex;
    gap: 20px;
    background-color: var(--tmave-fialova);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.bloky img,
.bloky a {
    width: 40%;
    height: auto;
    text-align: center;
    color: var(--svetle-fialova);
}

.bloky .text {
    width: 60%;
    list-style-position: inside;
}

.bloky .text li {
    text-align: left;
    text-indent: -1rem;
    margin-left: 10px;
}

.bloky .text p,
.bloky .text li {
    font-size: 1.1rem;
    padding: 8px;
    line-height: 1.4rem;
}

.bloky .text h2 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.nohover {
    pointer-events: none;
    transition-duration: 0.1s;
}

#schovat {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.klavesaVTextu {
    border-radius: 5px;
    background-color: var(--bila);
    color: black;
    padding: 2px 4px 1px 4px;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0px 3px #a7a7a7;
}

.klavSipka {
    width: 20px !important;
    height: 11px !important;
    filter: invert(1);
}

@media screen and (max-width: 1100px) {
    .bloky {
        margin-top: 25px;
        flex-direction: column-reverse;
        width: 80%;
        height: auto;
        padding: 25px 15px;
        gap: 20px;
    }

    div:nth-of-type(even).bloky {
        flex-direction: column;
    }

    .bloky .text {
        width: 100%;
        height: 60%;
    }

    .bloky img,
    .bloky a {
        width: 100%;
        height: 40%;
        max-width: 20rem;
    }

    h1 {
        font-size: 1.8rem;
        max-width: 60%;
        direction: rtl;
    }

    .bloky .text p,
    .bloky .text li {
        font-size: 1em;
    }

    .bloky .text h2 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }
}

/*bitwarden aby nešoupal strankou*/
#bit-notification-bar-spacer {
    display: none !important;
}